<%- include('header'); -%>
    <h1 >Login</h1>
    <div class="input-div">

        <form action="#" method="post">
            <div class="input-box">

                <label for="email" class="lbl">Email</label>
                <input type="email" class="inp" autocomplete="false" required="required">
                    <br>

                        <label for="password" class="lbl">Password</label>
                        <input type="password" class="inp" autocomplete="false" required="required">
                            <br>

                                <button type="submit" class="sub-btn">SUBMIT</button>
                            </div>
                        </form>

                    </div>
                

   <%- include('footer'); -%>