<%- include('header'); -%>
    <h1 >Login</h1>
    <h1> <%-error-%></h1>
    <div class="input-div">

        <form action="/login" method="post">
            <div class="input-box">

                <label for="email" class="lbl">Email</label><br>
                <input type="email" class="inp" autocomplete="false" required="required" name="email">
                    <br>

                        <label for="password" class="lbl">Password</label><br>
                        <input type="password" class="inp" autocomplete="false" required="required" name="pwd">
                            <br>

                                <button type="submit" class="sub-btn">Login</button> OR
                                
                                
                            </div>
                        </form>
                        <button class="google"><span class="icon"></span><a href='/auth'><span class="buttonText"> Login with Google</span></a></button>
                        <a href='/'><span class="buttonText" style="font-size: 20px;margin-left: 200px;margin-top: 10px;"> Don't have account? Register</span></a>

                    </div>
                

   <%- include('footer'); -%>