<%- include('header'); -%>

    

        <div class="card" style="width: 18rem;">
            <img
                class="card-img-top"
                src="https://cdn.pixabay.com/photo/2019/04/04/15/17/smartphone-4103051_960_720.jpg"
                alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">title</p>

                    <a href="#" class="btn btn-primary">Add to cart</a>

                </div>
            </div>

            

        

        <%- include('footer'); -%>