<%- include('header'); -%>
    <h1 >Signup Here</h1>
    <div class="input-div">
        
        <form action="/" method="post" >
            <div class="input-box">
            
            <label for="name" class="lbl">Name</label>
            <input type="text" class="inp"  required name="fname"><br>

            <label for="email" class="lbl">Email</label>
            <input type="email" class="inp"  required name="email"><br>

            <label for="phone" class="lbl">Mobile Number</label>
            <input type="text" class="inp"  required name="phone"><br>
            <button class="sub-btn">SEND OTP</button><br>

            <label for="password" class="lbl">Password</label>
            <input type="password" class="inp"  required><br>

            <label for="confirm password" class="lbl">Confirm Password</label>
            <input type="password" class="inp"  required name="password"><br>
            <label for="OTP" class="lbl"  required>Enter OTP</label>
            <input type="password" class="inp-otp">
            
            <button type="submit" class="sub-btn">Sign-Up</button>
        </div>
    </form>
        
        </div>
    </body>

    <%- include('footer'); -%>