html *
{
   
   
    font-family: 'Edu QLD Beginner', cursive;
}


body {
    
    background: F9F9C5;
    font-family: 'Edu QLD Beginner', cursive;


     height: 100vh;
     background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
   
}

.links a:hover {

    background-color: transparent;
    color:darkmagenta;
    
    
}
.logo {

    background-color: aliceblue;
}
.logo img {
    float: left;
    width: 200px;
    height: auto;

}

.links a {

    padding: 5px;
    margin: 6px;
    font-size: 20px;
    text-decoration: none;
    float: right;
    color: black;
    transition: 0.2s ease;
    font-weight: bold;
    
    border-radius: 15px
    

}

.links {
    display: flex;
    justify-content: right;

    list-style-type: none;

}

.navbar1 {
    /* background-color: yellowgreen; */
    width: 100%;
    /* position: absolute; */
    top: 0;
    /* margin-top: -1%; */
    /* margin-left: 16%; */
    min-height: 80px;
}

img {
    
}

.header {
    background-color: aqua;
}

/* .foot{ */

    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15%;
    background-color: blue;
    color: white; */

/* } */

.body-form {
    margin-top: 0;
    background-color: aqua;
    margin: auto;

}

.container{
    display: flex;
    float: left;
    margin-top: 20%;
}

.input-div{
    
    
    height: auto;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    transition: 0.5s ease;
}


.input-box{

    margin-left: 30%;
    padding: 25px;
    
}

.inp{

    height: 25px;
    margin-top: 0px;
    border-radius: 5px;
    width: 300px;
    
}
.sub-btn{

    margin-top: 10px;
    height:50px;
    width: 190px;
    transition: 0.5s ease;
    font-weight: bold;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
    text-decoration: none;
    
}

.sub-btn:hover {

    background-color: transparent;
    color: green;
    border: 2px solid orangered;
    border-radius: 5px;
    /* width: 200px; */
    background-color: #fff;
    
}
    
.lbl{

    margin-left: auto;
    font-weight: bold;
    margin-top: 10px;
}
.inp-otp{


    height: 25px;
    margin-top: 10px;
    border-radius: 5px
    
}
h1{

    margin-left: 42%;
    font-family: 'Edu QLD Beginner', cursive;
}

.card1 {
    margin-top: 50px;
    padding:25px ;
    height: 250px;
    border: 2px solid black;
    
}
.product{

    /* margin-left: 50px; */
    padding: 0px;
    margin:25px;
    margin-top: -15px;
    display:inline-block;
}
.container2{
    border: 2px solid black;
    width: 20%;
    padding:25px ;
    height: 50px;
    margin-top: 50px;
    display:inline-block;
}
.card-group{

    height: 200px;
    width: 1200px;
    margin-top: 5%;
    margin-left: 50px;
    
}
.addToCart{
   margin-top: 8px;
    transition: 0.5s ease;
    font-weight: bold;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
    text-decoration: none;


}
.addToCart:hover{

    background-color: #85FFBD;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    width: 120px;
    font-size: inherit;
    line-height: inherit;
}

.card{

    margin: 20px;
    height: 250px;
    
}
 .card-body{
    /* max-height: 200px; */
    /* height: 100%; */
    
    
    
    
 }
.card-img-top{

    background-color: black;
    filter:drop-shadow(5);
    size: 250px,250px;
}
.cart-table{

height:auto;
width: 800px;

margin-left: 15%;


}
.cost{

    
    margin-left: 20%;
    color: black;
}

.cart-btn{

    margin-left:20%;
    height:35px;
    width: 150px;
    transition: 0.5s ease;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px
}
.cart-btn:hover {

    background-color: transparent;
    color: green;
    border: 2px solid orangered;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    
}

.final-cost{

    margin-left: 20%;
    color:darkgoldenrod;
}

.conf-head{

height: 100px;
width: auto;

margin-left: 25%;


}

.plc{

float:center;
height:35px;
width: 150px;
transition: 0.5s ease;
font-weight: bold;
border: 2px solid black;
border-radius: 5px;
margin-top: 10px;


}
.plc:hover {

    background-color: transparent;
    color: green;
    border: 2px solid orangered;
    border-radius: 5px;
    width: 200px;
    background-color: #fff;
    
}

.conf-info{
    
    margin-left: 10%;
    margin-top: 50px;
    flex-basis: 500px
}
.address{

    height: 100px;
    width:200px;
}
.phone{
height:20px;
width:150px;

}


.conf-box{
    justify-content: center;
    display: flex;
    padding-left: 10%;
    
}

/* /////////////google button css */
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('./google.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    
    width: 50px;
    height: 50px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4px;
    padding-right: 0px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Edu QLD Beginner', cursive;
  }
  .google{

    margin-top: -5px;
    height: 50px;
    width: 190px;
    transition: 0.5s ease;
    font-weight: bold;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 34%;
    /* background-color: #444; */
  }
  span.buttonText:hover{

    color: black;

  }

  .google:hover{

    background-color: wheat;
  }

  .icon2{

    background: url('./checked.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    
    width: 50px;
    height: 50px;
  }
  .trolley{

    background: url('./google.png') ;
    display: inline-block;
    vertical-align: middle;
    
    width: 50px;
    height: 50px;


  }